@import url(http://fonts.googleapis.com/css?family=Open+Sans);

/* -----------------------------------------------
 * Paralax
 * ---------------------------------------------- */
.parallax-container {
    height: 400px;
}

/* -----------------------------------------------
 * Timeline
 * --------------------------------------------- */
.thinkslow-event {
    border: 1px solid #eceff1;
    padding: 5px;
}