<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Щепотка соли</title>
    <!-- CSS-->
    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>
    <script src="https://drrjhlchpvi7e.cloudfront.net/libs/stamplay-js-sdk/1.2.6/stamplay.min.js"></script>

</head>
<body ng-app="thinkSlowApp"  ng-controller="ThinkSlowMainCtrl as thinkSlowMainCtrl">
<nav>
    <div class="nav-wrapper blue-grey lighten-5">
        <a href="http://vk.com/granumsalis" target="_blank" class="brand-logo right">
            <span class="blue-grey-text text-darken-3">Щепотка соли</span>
        </a>
        <ul class="blue-grey darken-3 left hide-on-med-and-down">
            <li><a href="#next-events" class="ts-scrollspy-link">Анонсы</a></li>
            <li ng-if="thinkSlowMainCtrl.pastMeetings.length">
                <a href="#past-events" class="ts-scrollspy-link" ng-if="">
                    Прошедшие события
                </a>
            </li>
            <li><a href="#contacts" class="ts-scrollspy-link">О нас</a></li>
        </ul>
    </div>
</nav>

<div class="parallax-container">
    <div class="parallax">
        <img src="http://cs625119.vk.me/v625119806/2eecc/-IQfIOp2VAU.jpg">
    </div>
    <div class="slider thinkslow-header-slider">
        <ul class="slides thinkslow-header-slides">
            <li>
                <div class="caption center-align">
                    <h3>Лекции</h3>
                </div>
            </li>
            <li>
                <div class="caption left-align">
                    <h3>Интерактивные занятия</h3>
                </div>
            </li>
            <li>
                <div class="caption right-align">
                    <h3>Нетворкинг</h3>
                </div>
            </li>
        </ul>
    </div>
</div>

<div class="blue-grey lighten-5 thinkslow-toolbar">
    <div class="container">
        <div class="section">
            Щепотка соли &mdash; живой тёплый ламповый дискуссионный клуб.
            Наука, индустрии и социальные взаимодействия развиваются экспоненциально, поэтому информация о них не вмещается целиком в головы отдельных людей.
            Каждое воскресенье участники сталкиваются друг с другом и с компетентными экспертами, охватывая интересные для современных интеллектуалов вопросы и сжимая информацию до размера небольших инсайтов.
        </div>
        <div ng-include="'suggest-topic-action.html'"></div>
    </div>

</div>

<div class="container">

    <h4 id="next-events" class="thinkslow-header">Ближайшие события</h4>

    <div class="row">
        <div class="col s12" ng-repeat="announcement in thinkSlowMainCtrl.mettingsAnnouncements">
            <ts-meeting-announcement meeting="announcement" is-last="$last"></ts-meeting-announcement>
        </div>
    </div>

    <h4 id="past-events" ng-if="thinkSlowMainCtrl.pastMettings.length" class="thinkslow-header">
        Материалы прошедших событий
    </h4>

    <div ng-if="thinkSlowMainCtrl.pastMettings.length"
         ng-repeat="meeting in thinkSlowMainCtrl.pastMettings">
        <ts-past-meeting-card meeting="meeting" is-even="$even"></ts-past-meeting-card>
    </div>

    <h4 id="contacts" class="thinkslow-header">Организаторы</h4>
    <div class="row">Здесь фото организаторов</div>

    <h4 class="thinkslow-header">Партнёры</h4>
    <div class="row">Здесь логотипы</div>
</div>
<p>&nbsp;</p>




<footer class="page-footer blue-grey darken-3">
    <div class="container">
        <div class="row">
            <div class="col s6 center-align">
                <div ng-click="thinkSlowMainCtrl.sendFeedbackMail()">
                    <i class="material-icons thinkslow-feedback-icons">email</i><br/>
                    <span class="grey-text text-lighten-4 thinkslow-link_pseudo">Связаться с нами</span>
                </div>
            </div>
            <div class="col s6 center-align">
                <div ng-click="thinkSlowMainCtrl.fillInFeedbackForm()">
                    <i class="material-icons thinkslow-feedback-icons">assignment</i><br/>
                    <span class="grey-text text-lighten-4 thinkslow-link_pseudo">Форма обратной связи</span>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="row">
                <div class="col s6 center-align">
                    <a class="grey-text text-lighten-4" href="http://vk.com/granumsalis">vk.com/granumsalis</a>
                </div>
                <div class="col s6 center-align">
                    © 2015 Щепотка соли
                </div>
            </div>
        </div>
    </div>
</footer>


<div id="feedback-form-dialog" class="modal">
    <div class="modal-content">
        <h4>Feedback form</h4>
        <p>Google form here</p>
    </div>
</div>

</body>
</html>