/*@import url(http://fonts.googleapis.com/css?family=Open+Sans);*/

/* -----------------------------------------------
 * Paralax
 * ---------------------------------------------- */
.parallax-container {
    height: 510px;
}

/* -----------------------------------------------
 * Timeline
 * --------------------------------------------- */
.thinkslow-toolbar {
    padding: 24px;
    margin-bottom: 24px;
    align-content: center;
}

.thinkslow-toolbar .btn {
    margin: 4px;
}

.thinkslow-past-event-card {
    max-height: 330px;
}

.thinkslow-past-event-card__description {
    overflow-y: auto;
    max-height: 240px;
}

.thinkslow-header-slider .indicator-item.active {
    background-color: #78909c !important;
}

.thinkslow-header-slider {
    position: absolute;
    top: 30px;
    height: 550px;
}

.thinkslow-header-slides {
    background-color: transparent !important;
}

.thinkslow-feedback-icons {
    text-shadow: -1px 0 #78909c, 0 1px #78909c, 1px 0 #78909c, 0 -1px #78909c;
    color: white;
    font-size: 80px;
    cursor: pointer;
}


