<div class="row thinkslow-announcement">
    <div class="col s12">
        <div class="thinkslow-announcement__title">{{ctrl.meeting.title}}</div>
    </div>

    <div class="col s12 m6">
        <ul class="tabs">
            <li class="tab col s4"><a class="active" ng-href="#announcement-{{ctrl.id}}-description">Описание</a></li>
            <li class="tab col s4"><a ng-href="#announcement-{{ctrl.id}}-place">Место</a></li>
            <li class="tab col s4"><a ng-href="#announcement-{{ctrl.id}}-registration">Регистрация</a></li>
        </ul>
    </div>
    <div id="{{ 'announcement-' + ctrl.id + '-description' }}" class="col s12">
        <div class="thinkslow-announcement__body">
            <div class="row">
                <div class="col m6 s12" ng-repeat="speaker in ctrl.meeting.speakers">
                    <div class="row">
                        <div class="col s4">
                            <ts-profile-photo profile="speaker"></ts-profile-photo>
                        </div>
                        <div class="col s8">
                            <h6>
                                <a ng-if="speaker.link" ng-href="{{speaker.link}}">{{speaker.name}}</a>
                                <span ng-if="!speaker.link">{{speaker.name}}</span>
                            </h6>
                            <p>{{speaker.shortDescription}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-bind-html="ctrl.trustedDescription"></div>
        </div>
    </div>
    <div id="{{ 'announcement-' + ctrl.id + '-place' }}" class="col s12">
        <div class="thinkslow-announcement__body">
            <h6>{{ctrl.meeting.place.title}}</h6>
            <p>{{ctrl.meeting.place.address}}</p>
            <div class="valign-wrapper" style="width: 100%">
                <div class="valign center-align" id="{{ 'map-placeholder-' + ctrl.id }}"></div>
            </div>
        </div>
    </div>
    <div id="{{ 'announcement-' + ctrl.id + '-registration' }}" class="col s12">
        <div class="thinkslow-announcement__body">
            <div ng-if="ctrl.meeting.timepadCustomizedId && ctrl.meeting.timepadEventId">
                <script type="text/javascript" defer="defer" charset="UTF-8"
                        data-timepad-customized="{{ctrl.meeting.timepadCustomizedId}}"
                        data-twf2s-event--id="{{ctrl.meeting.timepadEventId}}"
                        data-timepad-widget-v2="event_register"
                        src="https://timepad.ru/js/tpwf/loader/min/loader.js">
                </script>
            </div>
        </div>
    </div>
</div>

