<div ng-repeat="speaker in thinkSlowMainCtrl.speakers track by $index" class="col l4 s12">
    <div class="row">
        <div class="col s4">
            <ts-profile-photo profile="speaker"></ts-profile-photo>
        </div>
        <div class="col s8">
            <h6>
                <a ng-if="speaker.link" ng-href="{{speaker.link}}">{{speaker.name}}</a>
                <span ng-if="!speaker.link">{{speaker.name}}</span>
            </h6>
            <p>{{speaker.shortDescription | truncate:90}}</p>
        </div>
    </div>
</div>
