<div class="thinkslow-profile-photo__wrapper">
    <img width="100" height="100"
         ng-src="{{profileCtrl.profile.photo}}"
         alt="{{profileCtrl.profile.name}}"
         class="responsive-img thinkslow-profile-photo"
         ng-click="profileCtrl.openModal()"
         ng-href="#speaker-card-{{profileCtrl.id}}">
    <div id="speaker-card-{{profileCtrl.id}}" class="modal">
        <div class="modal-content">
            <div class="row">
                <div class="col s4">
                    <img class="responsive-img" ng-src="{{profileCtrl.profile.photo}}"/>
                </div>
                <div class="col s8">
                    <h5>
                        <a ng-if="profileCtrl.profile.link" target="_blank" ng-href="{{profileCtrl.profile.link}}">
                            {{profileCtrl.profile.name}}
                        </a>
                        <span ng-if="!profileCtrl.profile.link">{{profileCtrl.profile.name}}</span>
                    </h5>
                    <p>{{profileCtrl.profile.shortDescription}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col s12" ng-bind-html="profileCtrl.trustedProfileDescription"></div>
            </div>
        </div>
    </div>
</div>
